.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.counter-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  flex-direction: column;
}
.tabs
{
  display: flex;
  align-items: center;
  
}
